/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

* {
    box-sizing: border-box;
}

body {
    white-space: pre-line;
    margin: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
}

#border {
    position: relative;
    height: calc(100vh - 20px);
    max-width: 800px;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

#color-scale,
#y-scale {
    height: 85%;
    text-align: right;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#y-scale{
    border-right: 1px solid currentColor;
    align-items: flex-end;
    padding-right: 1px;
}

#x-scale{
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-self:flex-end;
    border-top: 1px solid gray;
}


#color-scale {
    border-left: 1px solid currentColor;
    align-items: flex-start;
    padding-left: 1px;
}

.scale-labelY,
.scale-labelColorAxis{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tick{
    margin-bottom: 6px;
}

.scale-labelY {
    right: 5px;
}
.scale-labelColorAxis {
    right: -25px;
}
