* {
    box-sizing: border-box;
}

html,
body,
#border,
#mod-container {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow-y: auto;
}

#explanation {
    position: absolute;
    margin: 0 43%;
    height: 20%;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explanation #percentage {
    font-size: max(5vmin, 10px);
    white-space: nowrap;
}

#explanation #value{
    font-size: 2vmin;
}

@media (max-width: 20em)   
{
    #explanation #value{
        display: none;
    }
}

@media (max-height: 20em)   
{
    #explanation #value{
        display: none;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    cursor: default;
}

#svg {
    display: flex;
    width: 100%;
    height: 100%;
}

.settings {
    right: 0;
    color: #ccc;
}

.settings:hover {
    color: #ddd;
}