* {
    box-sizing: border-box;
}

html,
body,
#border,
#mod-container {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow-y: auto;
}

#explanation {
    position: absolute;
    margin: 0 43%;
    height: 20%;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explanation #percentage {
    font-size: max(5vmin, 10px);
    white-space: nowrap;
}

#explanation #value{
    font-size: 2vmin;
}

@media (max-width: 20em)   
{
    #explanation #value{
        display: none;
    }
}

@media (max-height: 20em)   
{
    #explanation #value{
        display: none;
    }
}

body {
    white-space: pre-line;
    margin: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 20px;
}


svg {
    position: relative;
    height: 100%;
    width: 100%;
   
}
.rectangle {
    fill: #85A2CB;
    stroke: #313336;
    fill-opacity: 0.5;
    stroke-opacity: 1;
    stroke-width: 0.5;
}
.categoryScale:first-of-type line{
    fill: none;
    stroke: none;

}
.settings {
    right: 0;
    color: #ccc;
}

.settings:hover {
    color: #ddd;
}